* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datepicker-wrapper {
  width: 100%;
}

.suggestion-container {
  max-height: 250px;
  overflow: auto;
  position: absolute;
  z-index: 1;
  background: white;
  width: 100%;
  border: 1px solid #ccc;
}
.suggestion-item {
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.suggestion-item span {
  display: block;
  padding: 0.5rem;
}
.suggestion-item:hover {
  background-color: #ccc;
}
.react-autosuggest__suggestions-container:hover {
  border: 1px solid #ccc;
}
.react-autosuggest__suggestions-list {
  padding: 0;
  margin: 0;
}
